// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-hosted-fields-container {
  height: 50px;
  margin-bottom: 1em;
  padding: 0 0.5em;
  border: 1px solid #ddd;
}

.my-hosted-fields-container.braintree-hosted-fields-invalid {
  border-color: tomato;
}

.my-hosted-fields-container.braintree-hosted-fields-valid {
  border-color: limegreen;
}
